<section class="is-centered">
      <div class="columns is-centered">
        <div class="column is-8 is-centered register">
    
          <div class="field has-text-centered">
            <label class="label has-text-white">Date</label>
            <div class="control">
              <input class="is-medium" type="date" name="date">
            </div>
          </div>

          <div class="field has-text-centered">
            <label class="label has-text-white">Subject</label>
            <div class="control">
              <div class="select">
                <select class="dropdown" name = "dropdown">
                      {{#each categories}}
                          <option value = "{{id}}"> {{title}}</option>
                      {{/each}}
                  </select>
              </div>
            </div>
          </div>

          <div class="field center-elements">
            <div class="control is-centered">
              <button type="submit" class="button is-link" id="submitBtn">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--Event List-->

<section class="is-centered">
{{#if events}}
  
  {{#unless loggedIn}}
    <ul class="event-list">
      {{#each events}}
      <li>
        <article class="event">
            <div class="title">
              <h2>{{title}}</h2>
            </div>
            <div class="date">
                {{date}}
            </div>
        </article>
      </li>
      {{/each}}
    </ul>
  {{/unless}}

  {{#if loggedIn}}
    <ul class="event-list">
      {{#each events}}
      <li>
        <article class="post">
            <div class="title">
              <a href="/event/{{id}}">{{title}}</a>
            </div>
            <div class="date">
                {{date}}
            </div>
        </article>
      </li>
      {{/each}}
    </ul>
  {{/if}}

{{/if}}
</section>

<script src="/javascript/homepage-search.js"></script>